body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 50px; /* Space for the fixed header */
    text-align: center; /* Center align text */
    background-color: white; /* Very light red background */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff4d4d; /* Changed to a red color */
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000; /* Ensures the header is above other content */
}

.nav-button {
    margin: 0 50px; /* Increased margin for more spacing between buttons */
    padding: 15px 25px; /* Increased padding for larger buttons */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 24px; /* Increased font size */
    background-color: #cc0000; /* Darker shade of red for buttons */
}

.nav-button:hover {
    background-color: #e60000; /* Lighter shade on hover */
}

.page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
}

.section-title {
    font-size: 48px; /* Increased font size for section titles */
    margin: 60px 0 20px; /* Spacing above and below section titles */
    color: #cc0000; /* Match the color with the button */
    font-weight: bold; /* Make it bold */
    text-align: center; /* Center text */
    width: 100%; /* Take full width */
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.vis-container {
    margin: 20px 0;
    display: flex;
    justify-content: center; /* Center align each visualization */
    max-width: 800px; /* Set a max-width for the charts */
    width: 100%; /* Full width */
}

.subtitle {
    margin: 10px 0;
}

/* New CSS for larger sub-subtitle */
.subsubtitle {
    font-size: 28px; /* Adjust this value to increase or decrease the size */
    margin: 10px 0;
    font-weight: bold; /* Optional: Make it bold */
}

.footer {
    background-color: #000000; /* Same color as the header */
    color: white;
    padding: 20px;
    position: relative; /* Position relative for proper placement */
    bottom: 0;
    width: 100%;
    text-align: center; /* Center text */
}

/* Responsive styles for small devices */
@media (max-width: 600px) {
    .nav-button {
        padding: 10px 15px;
        font-size: 20px; /* Adjusted font size for small screens */
    }

    .header {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }

    .section-title {
        font-size: 36px; /* Adjusted font size for small screens */
    }

    .footer {
        font-size: 16px; /* Adjusted font size for footer on small screens */
    }
}